:host {
    position: relative;
    display: block;
}
.overlay-cam {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    z-index: 1;
}
.btn {
    cursor: pointer;
    color: white;
    font-weight: 300;
    font-size: 2.2rem;
    background-color: #89c2d9;
    width: 75px;
    height: 75px;
    border-radius: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    border: 0;
}
.section-buttons {
    display: flex;
    padding-top: 1rem;
    padding-bottom: 1rem;
    justify-content: space-around;
}
::ng-deep video, ::ng-deep canvas {
    width: 478px;
    height: 360px;
    object-fit: cover;
    border: solid 0px transparent;
}
::ng-deep video {
    background-color: white;
    border: solid 0px white;
    display: block;
    width: 478px;
}
::ng-deep canvas {
    top: 0;
    position: absolute;
}
.btn-filter {
    position: absolute;
    bottom: 0;
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    z-index: 1;
    padding: 2rem;
}
.btn-filter button {
    cursor: pointer;
    font-size: 1.4rem;
    border: 0;
    padding: 0.5rem;
    background-color: white;
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
    border-radius: 10rem;
    width: 3.5rem;
    height: 3.5rem;
    box-shadow: 0 0px 80px rgba(0, 0, 0, 0.17);
}
.filters {
    position: absolute;
    top: 0;
    left: 0;
}
.filters .filter-eye {
    position: absolute;
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: center;
    font-size: 1.05rem;
    color: white;
}
.filters .filter-image img {
    width: 300px;
    margin-left: -80px;
    margin-top: 25px;
}
.filters .filter-question {
    font-size: 0.8rem;
    width: 200px;
    height: 80px;
    padding: 0.5rem;
    background-color: #f00;
    border: solid 5px white;
    margin-left: -5.5vw;
    margin-top: -90px;
    text-align: center;
}
ul {
    position: absolute;
    top: 0;
    display: flex;
    margin: 0;
    list-style: none;
    padding: 0;
}
ul li {
    padding: 0;
    font-size: 4rem;
}


.loader{
    justify-content: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.three-body {
    --uib-size: 35px;
    --uib-speed: 0.8s;
    --uib-color: #5D3FD3;
    margin: 80px auto;
    position: relative;
    left: 50%;
    display: inline-block;
    height: var(--uib-size);
    width: var(--uib-size);
    animation: spin78236 calc(var(--uib-speed) * 2.5) infinite linear;
   }
   
   .three-body__dot {
    position: absolute;
    left: 50%;
    height: 100%;
    width: 60%;
   }
   
   .three-body__dot:after {
    content: '';
    position: absolute;
    height: 0%;
    width: 100%;
    padding-bottom: 100%;
    background-color: var(--uib-color);
    border-radius: 50%;
   }
   
   .three-body__dot:nth-child(1) {
    bottom: 5%;
    left: 0;
    transform: rotate(60deg);
    transform-origin: 50% 85%;
   }
   
   .three-body__dot:nth-child(1)::after {
    bottom: 0;
    left: 0;
    animation: wobble1 var(--uib-speed) infinite ease-in-out;
    animation-delay: calc(var(--uib-speed) * -0.3);
   }
   
   .three-body__dot:nth-child(2) {
    bottom: 5%;
    right: 0;
    transform: rotate(-60deg);
    transform-origin: 50% 85%;
   }
   
   .three-body__dot:nth-child(2)::after {
    bottom: 0;
    left: 0;
    animation: wobble1 var(--uib-speed) infinite
       calc(var(--uib-speed) * -0.15) ease-in-out;
   }
   
   .three-body__dot:nth-child(3) {
    bottom: -5%;
    left: 0;
    transform: translateX(116.666%);
   }
   
   .three-body__dot:nth-child(3)::after {
    top: 0;
    left: 0;
    animation: wobble2 var(--uib-speed) infinite ease-in-out;
   }
   
   @keyframes spin78236 {
    0% {
     transform: rotate(0deg);
    }
   
    100% {
     transform: rotate(360deg);
    }
   }
   
   @keyframes wobble1 {
    0%,
     100% {
     transform: translateY(0%) scale(1);
     opacity: 1;
    }
   
    50% {
     transform: translateY(-66%) scale(0.65);
     opacity: 0.8;
    }
   }
   
   @keyframes wobble2 {
    0%,
     100% {
     transform: translateY(0%) scale(1);
     opacity: 1;
    }
   
    50% {
     transform: translateY(66%) scale(0.65);
     opacity: 0.8;
    }
   }
   